body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(226, 189, 143), #fff);
    height: 100%;
}

.nav {
    display: flex;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid green;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.brand {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid red;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}

.nav-buttons {
    text-align: right;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

.nav-buttons a {
    text-decoration: none;
    color: #000;
    padding-left: 0;
    font-size: 15px;
    display: inline-block;
}

.body {
    display: flex;
    margin-bottom: 40px;
}

.left-column,
.center-column,
.right-column {
    border: 1px solid red;
    flex: 1 1 33%;
    padding: 0 20px;
}

.center-column {
    flex-basis: 50%;
    flex-shrink: 0;
}

.footer {
    display: flex;
    background-color: #111;
    justify-content: space-around;
    color: white;
    padding: 50/;
}

.footer div {
    flex-basis: 25%;
    border: 1px solid rgb(142, 142, 223);
}

/* Media query */

@media(max-width: 768px) {

    .body,
    .footer {
        flex-wrap: wrap;
    }

    .footer div {
        flex-basis: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid rgb(142, 142, 223);
        margin-bottom: 10px;
    }

    body {
        border: 20px solid wheat;
    }

    .left-column,
    .center-column,
    .right-column {
        flex-basis: 100%;
        flex-shrink: 0;
    }

    .center-column {
        order: 1;
    }

    .left-column {
        order: 2;
    }

    .right-column {
        order: 3;
    }
}

@media(max-width: 425px) {

    .left-column,
    .center-column,
    .right-column {
        text-align: center;
        margin-bottom: 10px;
        padding: 10px 20px;
    }

    .left-column .footer div {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 110px 20px;
        margin-bottom: 10px;
        border: 0;
        text-align: center;
    }

    body {
        border: 20px solid wheat;
    }

    .left-column,
    .center-column,
    .right-column {
        flex-basis: 100%;
        flex-shrink: 0;
    }

    .center-column {
        order: 1;
    }

    .left-column {
        order: 2;
    }

    .right-column {
        order: 3;
    }

    .right-column {
        display: none;
    }
}