body {
    background-color: rgb(226, 189, 143);
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 150px;
    padding: 0 20px 0px 0;
}

#body {
    height: 1000px;
}

footer {
    text-align: center;
    font-weight: bold;
    margin-right: -17px;
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    /* position: fixed; */
    left: 0;
    top: 0;
    right: 0;
}

hr {
    color: rebeccapurple;
    margin-bottom: 20px;
    width: 50%;
}

nav {
    text-align: center;
    font-weight: bold;
    margin: 0 8px 0 8px;
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.shadows {
    background-color: darkgoldenrod;
    color: black;
    border-radius: 50%;
    text-shadow: 2px 2px 10px rgba(250, 247, 247, 0.966);
    box-shadow: 5px 5px 30px rgba(3, 88, 94, 0.966);
}

/* Keep above this line */

body {
    background-color: #ccc;
    background: linear-gradient(to bottom right, red, tan);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;

    background-color: rgb(100, 150, 100);
    height: 500px;
}

.col {
    flex-basis: 26%;
    flex-shrink: 0;
    display: flex;

    text-align: center;
    background-color: rgb(105, 39, 39);
    color: white;
    border: 2px solid white;
    height: 50px;
}

#test {
    background-color: yellow;
    color: chocolate;
}

@media(max-width: 1000px) {
    #test {
        background-color: blue;
    }
}

@media(max-width: 768px) {
    #test {
        background-color: pink;
    }
}

@media(max-width: 640px) {
    #test {
        background-color: red;
        color: purple;
    }
}

@media(max-width: 425px) {
    #test {
        background-color: orange;
    }
}

@media(max-width: 320px) {
    #test {
        background-color: black;
        color: whitesmoke;
    }
}


/* old code */

/* 
body {
    background-color: rgb(214, 191, 162);
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 150px;
    padding: 0 20px 0px 0;
}

#body {
    height: 1000px;
}

.footer {
    text-align: center;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    position: fixed;
     left: 0;
    top: 0;
    right: 0;
}

hr {
    color: rebeccapurple;
    margin-bottom: 20px;
    width: 50%;
}

main {
    margin-top: 150px;
    border: 3px solid greenyellow;
}

nav {
    text-align: center;
    font-weight: bold;
    margin: 0 8px 0 8px;
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.shadows {
    background-color: darkgoldenrod;
    color: black;
    border-radius: 50%;
    text-shadow: 2px 2px 10px rgba(250, 247, 247, 0.966);
    box-shadow: 5px 5px 30px rgba(3, 88, 94, 0.966);
} */
/* Keep above this line */

/* #test {
    background-color: yellow;
    color: red;
    padding: 50px;
}

@media(max-width: 1000px) {
    #test {
            background-color: aqua;
    }
    @media(max-width:758px) {
            #test {
                    background-color: blue;
            }
    }
    @media(max-width:640px) {
            #test {
                    background-color: whitesmoke;
            }
    }
    @media(max-width:425px) {
            #test {
                    background-color: orangered;
            }
    }
    @media(max-width:320px) {
            #test {
                    background-color: pink;
            }
    } */ */
    /* Lesson coding above this line */