body{
  background-color: bisque;
  color: black;
  margin-top: 150px;
  padding: 0 20px 0px 0;
}

#body{
  height: 1000px;
}

hr{
  color: rebeccapurple;
}

nav{
  text-align: center;
  margin: 0 8px 0 8px;
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px;
  background-color: thistle;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

/* Keep above this line */

.round {
  border-radius: 50%;
}

.stone{
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 2px solid red;
  border-radius: 50%;
  background-image: url('../img/peasant.jpeg');
}

.stone1{
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 2px solid red;

  border-top-left-radius: 50%;
  
  background-image: url('../img/peasant.jpeg');
}

 .stone1{
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 2px solid red;

  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  
  background-image: url('../img/peasant.jpeg');
}

.stone1{
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 2px solid red;

  border-radius: 70px 25px 50px 0;
  /*              TL   TR   BR  BL */
  
  background-image: url('../img/peasant.jpeg');
}